.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid :global(.card) {
  grid-column: span 4;
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid :global(.card) {
    grid-column: span 6;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid :global(.card) {
    grid-column: span 1;
  }
}
