.layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1 1 460px;
  padding-right: 2rem;
}

.subtitle {
  text-align: justify;
}

.media {
  flex: 1 1 320px;
  text-align: center;
}

.image {
  border-radius: 0.75rem;
  width: 100%;
  height: auto;
}
