.breadcrumb {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.microcopyCentered {
  text-align: center;
  margin-top: 0.25rem;
}

.videoWrapper {
  position: relative;
  padding-top: 56.25%;
}

.videoFrame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px;
}

.centeredMedia {
  text-align: center;
}
